@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo</h2>

@if (!User.Identity.IsAuthenticated)
{
    <h5>Entre para ter acesso as funcionalidades</h5>
    <ul>
        <li>@Html.ActionLink("Entrar", "Login", "Autenticacao")</li>
    </ul>
}
else
{
    <ul>
        @if (User.IsInRole("Administrador"))
        {
            <li>@Html.ActionLink("Cadastro de usuários", "Index", "Usuario")</li>
            <li>@Html.ActionLink("Todos os chamados", "Index", "Chamado")</li>
        }

        @if (User.IsInRole("Cliente"))
        {
            <li>@Html.ActionLink("Novo chamado", "Create", "Chamado")</li>
            <li>@Html.ActionLink("Lista de chamados", "Index", "Chamado")</li>
        }

        @if (User.IsInRole("Atendente"))
        {
            <li>@Html.ActionLink("Lista de chamados", "Index", "Chamado")</li>
        }
    </ul>
}